<nav class="navigation">
    <div class="logo">
        <img src="../images/logo/logo.png" alt="logo">
    </div>
    <ul class="menu">
        <% if (li == 1) { %>
            <li class="active"><a href="/home">Accueil</a></li>
        <% } else {%>
            <li><a href="/home">Accueil</a></li>  
        <% } %>
        <% if (li == 2) { %>
            <li class="active"><a href="/boutique">Boutique</a></li>
        <% } else {%>
            <li><a href="/boutique">Boutique</a></li>      
        <% } %>

        <% if (li == 3) { %>
            <li class="active"><a href="#">Services</a></li>
        <% } else {%>
            <li><a href="/services">Services</a></li>          
        <% } %>

        <% if (li == 4) { %>
            <li class="active"><a href="/blog">Blog</a></li>
        <% } else {%>
            <li><a href="/blog">Blog</a></li>      
        <% } %>
        <% if (li == 5) { %>
            <li class="active"><a href="/about">Qui somme nous ?</a></li>
        <% } else {%>
            <li><a href="/about">Qui somme nous ?</a></li>
        <% } %>
        <% if (li == 6) { %>
            <li class="active"><a href="/contacte">Contactez nous</a></li>
        <% } else {%>
            <li><a href="/contacte">Contactez nous</a></li>
        <% } %> 
        
    </ul>
    <div class="abonnees">
        <div class="users">
            <% if (user) {%>
                <div class="is-connted">
                    <img src="../images/users/<%= user.image %> " alt="icone user connecter">
                </div>
            <% } else {%>
                <div class="not-connected">
                    <img src="../images/svg/user.svg" alt="icone utilisateur">
                </div>
            <% } %>   
            
            <div class="userConnected">
                <% if (user) { %>
                    <div id='user_1'>
                        <p><%= user.name %> </p>
                        <p>+241 <%= user.numero %> </p>
                        <a href="/deconnexion"><button class="low">Deconnexion</button></a>
                    </div>
                    <% } else {%>
                        <div id="user_2">
                            <a href="/connexion_connexion"><button class="good">connexion</button></a>
                            <a href="/connexion_cree_compte"><button class="good">cree un compte</button></a>
                        </div>

                        
                        <% } %>
            </div>
        </div>

        <!-- <button class="reche"><img src="../images/svg/rech.svg" alt="svg de revherche"></button> -->
        <div class="btns-abonnee">
            <a href="/abonne/<%= user ? user.id : "null" %> /<%= user ? user.isabonne : "null" %> /<%= url %> " class="link-abonne">
                
                <% if (user?.isabonne == 1) { %>
                 <button class="btn-abonne abonner active">Déjà abonner</button>
                <% } else {%>
                    <button class="btn-abonne abonner">S'abonner</button>
                <% } %> 
            </a>
            <button class="nbr-abonnee">1,5k</button>
        </div>
    </div>
    <div class="burger">
        <div></div>
    </div>
    <div class="bar-menu">
        <div class="burger"></div>
        <div class="user-bar-menu" data-userId="<%= user?.id ?? null%>">
            <% if (user) { %>
                <div id="isconnected">
                    <div class="img-user">
                        <img src="../images/users/<%= user.image %> ">
                    </div>
                    <p class="info">
                        <span>
                            <%= user?.name ?? null %>
                        </span>
                    </p>
                    <p class="info mail">
                        +241 <%= user?.numero ?? null %>
                    </p>
                    <button class="btn m">Modifier mon compte</button>
                    <a href="/deconnexion"><button class="btn d">Deconnexion</button></a>
                </div>
                <% } else {%>
                    <div id="deconnecter">
                        <a href="/connexion_connexion"><button>connexion</button></a>
                        <a href="/connexion_cree_compte"><button>cree un compte</button></a>
                    </div>
                    <% } %>
                        <div class="btns-abonnee">
                            <a href="/abonne/<%= user ? user.id : "null" %> /<%= user ? user.isabonne : "null" %> /<%= url %> " class="link-abonne">
                
                                <% if (user?.isabonne == 1) { %>
                                 <button class="btn-abonne abonner active">Déjà abonner</button>
                                <% } else {%>
                                    <button class="btn-abonne abonner">S'abonner</button>
                                <% } %> 
                            </a>
                            <button class="nbr-abonnee">1,5k</button>
                        </div>
        </div>
        <ul class="menu-bar">
            <a href="/home">
                <li>Accueil</li>
            </a>
            <a href="/boutique">
                <li>Boutique</li>
            </a>
            <a href="/services">
                <li>Services</li>
            </a>
            <a href="/blog">
                <li>Blog</li>
            </a>
            <a href="/about">
                <li>Qui somme nous ?</li>
            </a>
            <a href="/contacte">
                <li>Contactez nous</li>
            </a>
        </ul>
    </div>
</nav>