<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo/ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/css/service.css">
    <title>services</title>
</head>
<body>
    <header>
        <%- include("./components/navigation") %>
        <img src="../images/background/servive.png" class="background">
            <div class="contente">
                <h1>Services</h1>
            </div>
    </header>
    <%- include('./components/addUser') %>
    <main class="body">
        <h2 class="titre-h2-service">Nos services</h2>
        <div class="contente-sevices">
            <!-- start sevices -->
            <% for (let i = services.length - 1; i >= 0; i--){ %>
                <% let s = services[(services.length - 1) - i] %>
                <div class="service">
                    <div class="img-service">
                        <div class="img">
                            <img src="../images/upload/<%= s.image %> ">
                        </div>
                        <p class="titre-service"><%= s.nom %> </p>
                    </div>
                    <div class="desc-service">
                        <p>
                            <%= s.description %> 
                        </p>
                    </div>
                </div>
            <% } %> 
           <!-- end service -->
        </div>
    </main>
    <%- include("./components/footer") %>
    <%- include('./components/scripts') %>
</body>
</html>