<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo/ic.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css_admin/admin.css">
    <title>admin</title>
</head>
<% 
    function getTable(tableBd) {
        let tab = [];
        for (let i = 0; i < tables.length; i++){
            let table = tables[i];
            if(table.tableName == tableBd){
                tab = table;
                break;
            }
        }

        return tab.table;
    }
 %>
<body>
    <aside class="barre">
        <div class="can-active-aside">
            <img src="../images/svg/sup.svg">
        </div>
        <div class="admin">
            <p class="name"><%= admin.nom %> </p>
        </div>
        <ul class="menu">
            <li class="item i1" data-form="0">
                <img src="../images/svg/dashboard.svg" class="icn">
                <p class="texte">Dashboard</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i2" data-form="1">
                <img src="../images/svg/panier.svg" class="icn">
                <p class="texte">Gere les articles</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i3" data-form="0">
                <img src="../images/svg/g_user.svg" class="icn">
                <p class="texte">Gere les utilisateurs</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i4" data-form="2">
                <img src="../images/svg/services.svg" class="icn">
                <p class="texte">Gere les services</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i5" data-form="3">
                <img src="../images/svg/blog.svg" class="icn">
                <p class="texte">Gere le blog</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i6" data-form="0">
                <img src="../images/svg/sms.svg" class="icn">
                <p class="texte">Messages</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
            <li class="item i7" data-form="0">
                <img src="../images/svg/sms.svg" class="icn">
                <p class="texte">Commandes</p>
                <img src="../images/svg/sup.svg" class="sup">
            </li>
        </ul>
    </aside>
    <main class="contenue">
        <div class="add-items">+</div>
        <header class="en-tete">
            <div class="logo">
                <img src="../images/logo/logo.png" alt="logo">
            </div>
            <p class="title">Marché Mont Bouët Gabon</p>
        </header>

        <div class="pages">
            <section class="page dashborads">
                <div class="titre">
                    <h1>Dashboard</h1>
                </div>
                <div class="contente dashboard">
                    <div class="contenu">
                        <!-- start section -->
                        <div class="section last-datas">
                            <div class="contente-section datas">
                                <!-- start data -->
                                <div class="data">
                                    <div class="img">
                                        <img src="../images/svg/user-dash.svg" alt="">
                                    </div>
                                    <div class="taux">
                                        <p class="titre-taux">Utilisateurs</p>
                                        <p class="num-taux"><%= getTable("users").length %> </p>
                                    </div>
                                </div>
                                <!-- end datas -->
                                <!-- start data -->
                                <div class="data">
                                    <div class="img">
                                        <img src="../images/svg/blog-dash.svg" alt="">
                                    </div>
                                    <div class="taux">
                                        <p class="titre-taux">blog</p>
                                        <p class="num-taux">0</p>
                                    </div>
                                </div>
                                <!-- end datas -->
                                <!-- start data -->
                                <div class="data">
                                    <div class="img">
                                        <img src="../images/svg/panier-dash.svg" alt="">
                                    </div>
                                    <div class="taux">
                                        <p class="titre-taux">Articles</p>
                                        <p class="num-taux"><%= getTable("articles").length %></p>
                                    </div>
                                </div>
                                <!-- end datas -->
                                <!-- start data -->
                                <div class="data">
                                    <div class="img">
                                        <img src="../images/svg/service-dash.svg" alt="">
                                    </div>
                                    <div class="taux">
                                        <p class="titre-taux">Services</p>
                                        <p class="num-taux"><%= getTable("services").length %> </p>
                                    </div>
                                </div>
                                <!-- end datas -->
                            </div>
                        </div>
                        <!-- end section -->
                        <div class="section last-users">
                            <div class="titre-section">
                                <h2>Derniers utilisateurs connecter</h2>
                            </div>
                            <div class="contente-section">
                                <!-- user -->
                                <% let i = 0 %> 
                                <% while (i < 4 && i < getTable("users").length) {%>
                                    <% let user = getTable("users")[(getTable("users").length - 1) - i] %>
                                    <div class="user">
                                        <div class="img-user">
                                            <div class="img">
                                                <img src="../images/svg/user-admin.svg">
                                            </div>
                                        </div>
                                        <div class="info-user">
                                            <p class="nom"><%= user.name%> </p>
                                            <p class="num"><%= user.numero %> </p>
                                        </div>
                                        <div class="btns">
                                            <% if (user.isabonne == 1) { %>
                                                <button class="abn true">Abonné</button>
                                            <% } else {%>
                                                <button class="abn">Abonné</button>
                                            <% } %> 
                                            
                                        </div>
                                    </div>
                                    <% i++ %> 
                                <% } %> 
                                <!-- end user -->
                            </div>
                        </div>
                        <!-- start section -->
                        <div class="section last-article">
                            <div class="titre-section">
                                <h2>Dernier article ajouter</h2>
                            </div>
                            <div class="contente-section">
                                <!-- article -->
                                <% let a = 0 %>
                                <% while (a < 4 && a < getTable("articles").length) {%>
                                <% let article = getTable("articles")[(getTable("articles").length - 1) - a] %>
                                <div class="article">
                                    <div class="img-article">
                                        <img src="../images/upload/<%= article.image %>">
                                    </div>
                                    <div class="detail-article">
                                        <p class="nom-article"><%= article.nom %> </p>
                                        <p class="prix-article"><%= article.prix %> </p>
                                        <p class="categorie"><%= article.categorie ?? "pas de categorie" %> </p>
                                        <button onclick="suprimer('articles','<%= article.id %>')">suprimer</button>
                                    </div>
                                </div>
                                <% a++; %> 
                                <% } %> 
                                <!-- end article -->
                            </div>
                        </div>
                        <!-- end section -->
                        <!-- start section -->
                        <div class="section last-message">
                            <div class="titre-section">
                                <h2>Dernier message</h2>
                            </div>
                            <div class="contente-section">
                                <!-- message -->
                                 <% let b = 0 %> 
                                 <% while (b < 4 && b < getTable("contacte").length) {%>
                                     <% let m = getTable("contacte")[(getTable("contacte").length - 1) - b] %>
                                     <div class="message">
                                        <div class="user">
                                            <div class="img-user">
                                                <div class="img">
                                                    <img src="../images/svg/user-admin.svg">
                                                </div>
                                            </div>
                                            <div class="info-user">
                                                <p class="nom"><%= m.nom %></p>
                                                <p class="num"><%= m.numero %></p>
                                            </div>
                                        </div>
                                        <div class="texte-sms">
                                            <p>
                                                <%= m.message %> 
                                            </p>
                                        </div>
                                        <button class="suprimer" onclick="suprimer('contacte','<%= m.id %>')">suprimer</button>
                                    </div>
                                     <% b++ %> 
                                 <% } %>
                                <!-- end message -->
                            </div>
                        </div>
                        <!-- end section -->
                        <!-- start section -->
                        <div class="section last-service">
                            <div class="titre-section">
                                <h2>Dernier service ajouter</h2>
                            </div>
                            <div class="contente-section">
                                <!-- start carte service -->
                                <% let z = 0 %> 
                                 <% while (z < 4 && z < getTable("services").length) {%>
                                     <% let s = getTable("services")[(getTable("services").length - 1) - z] %>

                                     <div class="service">
                                        <div class="icone-sevice">
                                            <div class="icone"><img src="../images/upload/<%= s.image %>"></div>
                                            <p><%= s.nom %> </p>
                                        </div>
                                        <p class="description-service">
                                            <%= s.description %> 
                                        </p>
                                        <button onclick="suprimer('services','<%= s.id %>')">suprimer</button>
                                    </div>
                                    <% z++; %> 
                                 <% } %>
                                <!-- end carte service -->
                            </div>
                        </div>
                        <!-- end section -->
                        <!-- start section -->
                        <div class="section last-article">
                            <div class="titre-section">
                                <h2>Dernier aricle de blog ajouter</h2>
                            </div>
                            <div class="contente-section">
                                <!-- article de blog -->
                                <div class="blog">
                                    <div class="img">
                                        <img src="../images/background/casque.png">
                                    </div>
                                    <div class="texte-blog">
                                        <p class="titre">L'achat en ligne</p>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate,
                                            expedita harum. Porro provident eum laboriosam libero enim esse ducimus
                                            sed, quae quam, vitae dolorem, voluptas eius nostrum aspernatur hic dolorum
                                            consectetur autem quos. Quibusdam ipsam dolore quisquam velit veniam
                                            molestias
                                            recusandae soluta voluptatum sint dicta, debitis ea numquam obcaecati
                                            asperiores nihil ut, iusto laboriosam blanditiis mollitia quod cupiditate
                                            explicabo reprehenderit consequatur. Vel dolorem provident ipsa,
                                            eius, hic dolores laborum repellendus distinctio, voluptas consectetur
                                            expedita quibusdam unde asperiores fugiat libero eum.
                                        </p>

                                    </div>
                                </div>
                                <!-- fin article de blog -->
                            </div>
                        </div>
                        <!-- end section -->
                    </div>
                </div>
            </section>
            <section class="page add-articles">
                <div class="titre">
                    <h1>Gere les articles</h1>
                </div>
                <div class="contente modifier">
                    <div class="contenu">
                    <!-- article -->
                        <% for (let i = getTable("articles").length - 1; i >= 0; i--){ %>
                            <% let article = getTable("articles")[i] %>
                            <div class="article">
                                <div class="img-article">
                                    <img src="../images/upload/<%= article.image %>">
                                </div>
                                <div class="detail-article">
                                    <p class="nom-article"><%= article.nom %> </p>
                                    <p class="prix-article"><%= article.prix %> </p>
                                    <p class="categorie"><%= article.categorie ?? "pas de categorie" %> </p>
                                    <button onclick="suprimer('articles','<%= article.id %>')">suprimer</button>
                                </div>
                            </div>
                        <% } %> 
                    <!-- end article -->
                    </div>
                    <div class="forms" data-form="1">
                        <p class="titre-form">Ajouter un article</p>
                        <form action="/add/aricle" method="post" enctype="multipart/form-data">

                            <input type="text" name="nom" id="nom" placeholder="nom de l'article" required>
                            <input type="text" name="prix" id="prix" placeholder="prix de l'article" required>

                            <div class="cat">
                                <label for="categories">Ajouter un categorie</label>
                                <select name="categories" id="categorie" required>
                                    <option value="vetement">vetement</option>
                                    <option value="electronic">electronic</option>
                                </select>
                            </div>

                            <div class="add-img">
                               <img src="../images/svg/addimages.svg" alt="">
                               <input type="file" name="image" id="images" required>
                            </div>

                            <button type="submit">Cree</button>

                        </form>
                        <p class="err"><% typeof err !== 'undefined'  ? err : '' %> </p>
                    </div>
                </div>
            </section>
            <section class="page users">
                <div class="titre">
                    <h1>Géré les utilisateurs</h1>
                </div>
                <div class="contente one-page">
                    <div class="contenu">
                    <!-- user -->
                        <% for (let i = getTable("users").length - 1; i >= 0; i--){ %>
                            <% let user = getTable("users")[i] %>
                            <div class="user">
                                <div class="img-user">
                                    <div class="img">
                                        <img src="../images/svg/user-admin.svg">
                                    </div>
                                </div>
                                <div class="info-user">
                                    <p class="nom"><%= user.name %> </p>
                                    <p class="num"><%= user.numero %> </p>
                                </div>
                                <div class="btns">
                                    <% if (user.isabonne == 1) { %>
                                        <button class="abn true">Abonné</button>
                                    <% } else {%>
                                        <button class="abn">Abonné</button>
                                    <% } %> 
                                    <button class="sup" onclick="suprimer('users','<%= user.id %>')">suprimer</button>
                                </div>
                            </div> 
                        <% } %>
                    <!-- end user -->
                    </div>
                </div>
            </section>
            <section class="page add-services">
                <div class="titre">
                    <h1>Géré les services</h1>
                </div>
                <div class="contente modifier">
                    <div class="contenu">
                        <!-- start carte service -->

                        <% for (let i = getTable("services").length - 1; i >= 0; i--){ %>
                            <% let s = getTable("services")[i] %>

                            <div class="service">
                                <div class="icone-sevice">
                                    <div class="icone"><img src="../images/upload/<%= s.image %>"></div>
                                    <p><%= s.nom %> </p>
                                </div>
                                <p class="description-service">
                                    <%= s.description %> 
                                </p>
                                <button onclick="suprimer('services','<%= s.id %>')">suprimer</button>
                            </div>
                            
                        <% } %> 

                        
                        <!-- end carte service -->
                    </div>
                     <div class="forms" data-form="2">

                        <p class="titre-form">Ajouter un service</p>

                        <form action="/add-services" method="post" enctype="multipart/form-data">

                            <input type="text" name="nom" id="nom" placeholder="nom du service">

                            <textarea name="description" id="texte" placeholder="Description du service"></textarea>

                            <div class="add-img">
                                <img src="../images/svg/addimages.svg" alt="">
                                <input type="file" name="image" id="images" required>
                            </div>

                            <button type="submit">Ajouter service</button>

                        </form>

                    </div>
                </div>
            </section>
            <section class="page add-blog dat">
                <div class="titre">
                    <h1>Gere le blog</h1>
                </div>
                <div class="contente modifier">
                    <div class="contenu">
                        <!-- article de blog -->
                        <div class="blog">
                            <div class="img">
                                <img src="../images/background/casque.png">
                            </div>
                            <div class="texte-blog">
                                <p class="titre">L'achat en ligne</p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate,
                                    expedita harum. Porro provident eum laboriosam libero enim esse ducimus
                                    sed, quae quam, vitae dolorem, voluptas eius nostrum aspernatur hic dolorum
                                    consectetur autem quos. Quibusdam ipsam dolore quisquam velit veniam molestias
                                    recusandae soluta voluptatum sint dicta, debitis ea numquam obcaecati
                                    asperiores nihil ut, iusto laboriosam blanditiis mollitia quod cupiditate
                                    explicabo reprehenderit consequatur. Vel dolorem provident ipsa,
                                    eius, hic dolores laborum repellendus distinctio, voluptas consectetur
                                    expedita quibusdam unde asperiores fugiat libero eum.
                                </p>

                            </div>
                        </div>
                        <!-- fin article de blog -->
                    </div>
                    <div class="forms" data-form="3">
                        <p class="titre-form">Ajouter un article</p>
                        <form action="#">
                            <input type="text" name="nom" id="nom" placeholder="nom de l'article">
                            <textarea name="texte" id="texte" placeholder="Texte de l'article"></textarea>
                            <div class="add-img">
                                <img src="../images/svg/addimages.svg" alt="">
                                <input type="file" name="image" id="images" required>
                             </div>
                            <button type="submit">Ajouter au Blog</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="page messages">
                <div class="titre">
                    <h1>Messages</h1>
                </div>
                <div class="contente one-page">
                    <div class="contenu">
                       <% for (let i = getTable("contacte").length - 1; i >= 0; i--){ %>
                           <% let m = getTable("contacte")[i] %>
                           <div class="message">
                               <div class="user">
                                   <div class="img-user">
                                       <div class="img">
                                           <img src="../images/svg/user-admin.svg">
                                       </div>
                                   </div>
                                   <div class="info-user">
                                       <p class="nom"><%= m.nom %></p>
                                       <p class="num"><%= m.numero %></p>
                                   </div>
                               </div>
                               <div class="texte-sms">
                                   <p>
                                       <%= m.message %> 
                                   </p>
                               </div>
                               <button class="suprimer" onclick="suprimer('contacte','<%= m.id %>')">suprimer</button>
                           </div>
                       <% } %>            
                    </div>
                </div>
            </section>
            <section class="page demandes">
                <div class="titre">
                    <h1>Géré les demandes</h1>
                </div>
                <div class="contente one-page">
                    <div class="contenu">
                <!-- boocle -->
                <% for (let i = getTable("commande").length - 1; i >= 0; i--){ %>
                    <% let c = getTable("commande")[i];
                       let a = JSON.parse(getTable("commande")[i].articles);
                       let d = JSON.parse(getTable("commande")[i].details);
                       let p = {
                        p : function (){
                            let prix = 0;
                            for (let b = 0; b < a.length; b++){
                                prix += a[b].prix * a[b].quantiter;
                            }
                            return prix;
                        },
                        q : function (){
                            let quantiter = 0;
                            for (let b = 0; b < a.length; b++){
                                quantiter += a[b].quantiter;
                            }
                            return quantiter;
                        },
                       }
                    %>
                    <div class="demande <%= c.type %>">
                        <p class="titre-demande"><%= c.type %> </p>
                        <p>Nom : <%= c.nom %></p>
                        <p>Numero : <%= c.numero %> </p>
                        <% if (d?.ville) {%>
                            <p>Date de livraison : <%= d.date %> </p>
                            <p>Lieux de livraison : <%= d.ville %> </p>
                        <% } else {%>
                            <p>Date de recuperation : <%= d.date %> </p>
                        <% } %> 
                        <p>Nombre d'articles : <%= p.q() %> </p>
                        <p>Prix total : <%= p.p() %> </p>
                        <div class="btns-commande">
                            <button class="suprimer" onclick="suprimer('commande','<%= c.id %>')">suprimer</button>
                            <button class="see-images" data-see="<%= c.id %>">Voir les articles</button>
                        </div>
                        <div class="article-users" data-see="<%= c.id %>">
                            <div class="close-see see-images" data-see="<%= c.id %>">X</div>

                            <% for (let i = 0; i < a.length; i++) {%>
                                <% let aaa = a[i] %>
                                <div class="img-see">
                                    <img src="../images/upload/<%= aaa.image %>">
                                    <p class="nom-see"><%= aaa.titre %> </p>
                                    <p class="quantiter"><%= aaa.quantiter %> articles</p>
                                    <p class="prix-see"><%= aaa.prix %> F</p>
                                </div>
                            <% } %> 

                        </div>
                    </div>
                <% } %> 
                <!-- end boocle -->
                    </div>
                </div>
            </section>

        </div>
    </main>
    <script src="admin.js"></script>
</body>

</html>